@{
    ViewData["Title"] = "Om Klubben";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">@ViewData["Title"]</h1>
    </div>
    <div>
        <h2>Klubbens vedtægter</h2>
        <p>stuf stuff stuff</p>
    </div>
</div>
