@{
    ViewData["Title"] = "Cykelklubben";
}
@model List<Picture>

<!--Carousel section-->
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active">
                <a asp-action="About" asp-controller="Home">
                    @if (Model.Count < 3)
                    {
                        <img class="img-fluid" src="http://placehold.it/1900x1080" />
                    }
                    else
                    {
                        <img class="img-fluid" style="width:1900px;height:1080px; object-position:center; object-fit:cover" 
                             src="data:image/*;base64,@(Convert.ToBase64String(Model.ElementAt(0).Image))"
                          alt="..." />
                    }
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Første Slide</h3>
                        <p>Dette er billede nr.: @Model.ElementAt(0).Id</p>
                    </div>
                </a>
            </div>

            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item">
                @if (Model.Count < 3)
                {
                    <img class="img-fluid" src="http://placehold.it/1900x1080" />
                }
                else
                {
                    <img class="img-fluid" style="width:1900px;height:1080px; object-position:center; object-fit:cover" 
                         src="data:image/*;base64,@(Convert.ToBase64String(Model.ElementAt(1).Image))"
                         alt="..." />
                }
                <div class="carousel-caption d-none d-md-block">
                    <h3>Andet Slide</h3>
                    <p>Dette er billede nr.: @Model.ElementAt(1).Id</p>
                </div>

            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item">
                @if (Model.Count < 3)
                {
                    <img class="img-fluid" src="http://placehold.it/1900x1080" />
                }
                else
                {
                    <img class="img-fluid" style="width:1900px;height:1080px; object-position:center; object-fit:cover" 
                         src="data:image/*;base64,@(Convert.ToBase64String(Model.ElementAt(2).Image))"
                         alt="..." />
                }
                <div class="carousel-caption d-none d-md-block">
                    <h3>Tredje Slide</h3>
                    <p>Dette er billede nr.: @Model.ElementAt(2).Id</p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</header>
    <!-- Marketing Icons Section -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                    <h4 class="card-header">Klubbens Medlemmer</h4>
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Members" asp-controller="Home" class="btn btn-primary">Se Mere
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Card Title</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus commodi similique totam consectetur praesentium molestiae atque exercitationem ut consequuntur, sed eveniet, magni nostrum sint fuga.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">Card Title</h4>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
